/* Products Styles */
.products-container {
  width: 100%;
}

.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.products-header h1 {
  margin: 0;
  color: #1890ff;
}
